.fabrica-reusable-block-instances-instances {
	display: flex;
}

.fabrica-reusable-block-instances-instances--error {
	flex-direction: column;
}

.fabrica-reusable-block-instances-instances__retry-link {
	cursor: pointer;
}

.fabrica-reusable-block-instances-instances__spinner {
	animation: spin 1s linear infinite;
}

/* WP elements */
.fixed .column-date {
	width: 17.5%;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}